<h1>Job Candidate to Open Position Comparison</h1>
<div>
	<div style="text-align: center;">
		<strong><em><%= @job_seeker_url_words.count %> most appearing words</em></strong>
	</div>
	<br /><br />
	<div style="float: left; width: 50%;">
		<% @job_seeker_url_words.each do |element| %>
			<div>
				<div style="float: right; height: 30px; width: 100px; text-align: left; padding-left: 10px;">
					<%= element[0] %>
				</div>
				<%
					# Calculate with
					# First maximum width
					width = ((element[1] * 300) / @highest_count).to_i
					# See if it's too small then give it a minimum width
					if (width < 30)
						width = 30
					end
				%>
				<div style="height: 20px; float: right; text-align: right;">
					<div style="height: 20px; width: <%= width %>px; background-color: <%= cycle("#00bfff", "#1e90ff") %>; float: right;">
						<div style="float: left; padding-left: 5px; padding-top: 2px; color: white;">
							<%= element[1] %>
						</div>
					</div>
				</div>
				<div style="clear: both;"></div>
			</div>
		<% end %>
	</div>

	<div style="float: right; width: 50%;">
		<% @job_descrip_url_words.each do |element| %>
			<div>
				<div style="float: left; height: 30px; width: 100px; text-align: right; padding-right: 10px;">
					<%= element[0] %>
				</div>
				<%
					# Calculate with
					# First maximum width
					width = ((element[1] * 300) / @highest_count).to_i
					# See if it's too small then give it a minimum width
					if (width < 30)
						width = 30
					end
				%>
				<div style="height: 20px; width: <%= width %>px; background-color: <%= cycle("#1e90ff", "#00bfff") %>; float: left;">
					<div style="float: right; padding-right: 5px; padding-top: 2px; color: white;">
						<%= element[1] %>
					</div>
				</div>
				<div style="clear: both;"></div>
			</div>
		<% end %>
	</div>
	<div style="clear: both;"></div>
</div>